# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp
*.bak
*.swp

# Data files
*.csv
*.tsv
*.xlsx

# ML models / artifacts
model.pkl
*.h5
*.joblib
*.pt
*.ckpt

# OS specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
