
.page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 140px;

    background: linear-gradient(
            to right,
            #475e65 -30%,
            #1c3b4b 100%
    );

    color: white;
}


.sectionHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 24px;
    padding-top: 40px;
}


.title {
    font-size: 53px;
    font-weight: 400;
    color: #f5f5f5;
    letter-spacing: 0.08em;
    font-family: "Lexend", sans-serif;
}
