body {
  background: linear-gradient(92.19deg, #485f65 2.02%, #0c2e41 99.32%);
}

.account-page,
.account-container {
  position: static;
  overflow: visible;
  padding-top: 140px;


}

.account-title {
  margin-top: 5%;
  font-family: "Lexend Giga";
  font-weight: 700;
  font-style: Bold;
  font-size: 72px;
  line-height: 125px;
  letter-spacing: 20%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.btn {
  width: 15vw;
  height: 5vh;
  border-radius: 12px;
  font-family: "Lexend";
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 4px;
  text-align: center;
  background: rgba(218, 223, 225, 1);
  color: rgba(119, 119, 119, 1);
}

.account-container {
  background: rgba(93, 112, 101, 1);
  width: 83vw;
  padding: 3vw;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 1);
  outline: 2px solid rgba(199, 199, 199, 1);
  outline-offset: 15px;

  margin: 3vw auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.greeting {
  margin: 3vh;
  font-family: "Lexend";
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 7px;
  text-align: center;
  color: rgba(199, 199, 199, 1);
  font-family: Lexend;
}

.greeting > b {
  color: rgba(255, 255, 255, 1);
}

.user-info > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 13vw;
}

.text-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Lexend";
  font-weight: 200;
  font-style: Italic;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  color: rgba(199, 199, 199, 1);
  align-items: flex-start;
}

.text-info > div {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.text-info > div > div > input {
  background: rgba(199, 199, 199, 1);
  width: 15vw;
  height: 6vh;
  opacity: 1;
  top: 578px;
  left: 543px;
  border-radius: 12px;
  border: none;
  font-family: "Lexend";
  font-size: 20px;
  padding: 10px;
}

.text-info > div > div > p {
  padding: 7px;
}

.email {
  width: 20vw !important;
}

.checkbox-text {
  font-family: Lexend;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(0, 34, 59, 1);
}

.checkbox-wrapper {
  margin: 2vw;
}

.checkbox {
  width: 5vw;
}

.edit-profile-btn {
  width: 16vw;
  height: 8vh;
  opacity: 1;
  border-radius: 12px;
  background: rgba(68, 90, 107, 1);
  border: 3px solid rgba(119, 119, 119, 1);
  font-family: Lexend Giga;
  font-weight: 200;
  font-style: ExtraLight;
  font-size: 28px;
  color: rgba(255, 255, 255, 1);
}

.edit-password-btn,
.edit-photo-btn {
  justify-self: center;
  align-content: center;
  width: 15vw;
  height: 6vh;
  padding: 5px;
  font-family: Lexend Giga;
  font-weight: 300;
  font-style: Italic;
  font-size: 18px;
  letter-spacing: 4%;
  border: 3px solid rgba(119, 119, 119, 1);
  color: rgba(199, 199, 199, 1);
  background-color: rgba(93, 112, 101, 1);
  border-radius: 12px;
}

.edit-password-btn {
  margin-left: 20px;
}

.user-ava {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.user-ava > img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
}
.password-change-container {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.pswrd-change > div {
  display: flex;
  flex-direction: row !important;
  gap: 10vw !important;
}

.password-change-title {
  width: fit-content;
  align-self: flex-start;
}

.edit-profile-btn-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
