.button {
    background: #e8eff2;
    border: none;
    padding: 12px 40px;
    border-radius: 40px;
    cursor: pointer;

    font-family: "Lexend", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: rgba(119, 119, 119, 1);

    transition: background 0.25s ease, transform 0.15s ease;


}

.button:hover {
    background: #dfe7ea;
    transform: translateY(-1px);
}

.button:active {
    transform: translateY(0);
    background: #d5dee2;
}
