
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pinned {
    position: fixed;
    top: 110px;
    left: 0;
    right: 0;
    z-index: 150;

}

.title {
    font-family: "Lexend Giga", sans-serif;
    font-size: 82px;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #ffffff;
    margin-bottom: 25px;
    text-align: center;

}

.buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
}
