.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.title {
    font-family: "Lexend Giga", sans-serif;
    font-size: 82px;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #ffffff;
    margin-bottom: 25px;
}

.buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
}
