.section {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lexend", sans-serif;
    box-sizing: border-box;
    margin: 60px auto 100px;
}

.contentContainer {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
}

.listWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tableHeader{
    width: 100%;
    display: grid;

    grid-template-columns: 305px 200px 200px 150px 170px 160px;

    column-gap: 12px;
    align-items: center;
}
.tournamentGrid {
    width: 100%;
    display: grid;

    grid-template-columns:
        minmax(200px, 1.5fr)
        minmax(140px, 1fr)
        minmax(140px, 1fr)
        minmax(100px, 0.8fr)
        minmax(100px, 0.8fr)
        minmax(140px, auto);
    column-gap: 12px;
    align-items: center;
}

.tableHeader {
    margin-bottom: 10px;
    font-size: 18px;
    color: rgba(199, 199, 199, 1);
    opacity: 0.9;
    padding: 0 16px;
    font-family: "Lexend", sans-serif;
    letter-spacing: 1px;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    border-radius: 16px;
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
    color: #f9fafb;
    font-size: 14px;
    transition: all 0.3s ease;

}

.chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 12px;
    background: rgba(199, 199, 199, 1);
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Lexend", sans-serif;
    font-weight: 500;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.moreInfoBtn {
    appearance: none;
    outline: none;
    margin: 0;

    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(199, 199, 199, 0.6);
    color: #e2e8f0;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 8px 24px;
    height: 40px;
    box-sizing: border-box;

    border-radius: 99px;
    font-family: "Lexend", sans-serif;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.2s ease;
    white-space: nowrap;
    cursor: pointer;
    line-height: 1;
}

.moreInfoBtn:hover {
    background: rgba(255, 255, 255, 0.25);
    border-color: #fff;
    color: #fff;
}