
.page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 140px;

    background: linear-gradient(
            to right,
            #475e65 -30%,
            #1c3b4b 100%
    );

    color: white;
}

.sectionHeader {
    width: 100%;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px auto 20px;
    box-sizing: border-box;
}

.title {
    font-size: 36px;
    font-weight: 400;
    color: #f5f5f5;
    letter-spacing: 0.08em;
    font-family: "Lexend", sans-serif;
    white-space: nowrap;
    text-align: center;
}
.sectionSearch {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 24px;
    padding-top: 40px;
}

.searchContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.searchTitle {
    font-size: 32px;
    font-weight: 400;
    color: #f5f5f5;
    letter-spacing: 0.08em;
    font-family: "Lexend", sans-serif;
    margin: 0;
    white-space: nowrap;
}

.searchTag {
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(217, 217, 217, 0.6);
    color: #ffffff;

    padding: 6px 32px;
    border-radius: 12px;
    font-family: "Lexend", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
}

