.overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background: rgba(199, 199, 199, 1);
  padding: 15px;
  width: 33%;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal > h2 {
  font-family: Lexend;
  font-style: normal;
  letter-spacing: 3px;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 25px;
  color: rgba(93, 112, 101, 1);
}

.field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  font-family: Lexend;
  font-size: 24px;
  font-style: normal;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 1);
}

.field input {
  font-family: Lexend;
  background: rgba(218, 223, 225, 1);
  padding: 10px 12px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
  text-align: center;
  outline: none;
  width: 25vw;
  margin-bottom: 25px;
  align-self: center;
}

.save-btn {
  width: 19vw;
  height: 6vh;
  background: rgba(68, 90, 107, 1);
  border: 3px solid rgba(119, 119, 119, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  font-family: Lexend Giga;
  font-weight: 200;
  font-size: 24px;
  cursor: pointer;
  letter-spacing: 1px;
  margin: 10px 0px;
}

.close-btn {
  display: flex;
  align-self: flex-end;
  background: none !important;
  border: none;
  cursor: pointer;
  margin: 5px !important;
}

.close-btn > img {
  width: 40px;
}

.descr {
  font-family: Lexend;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  
}

.email-input {
  display: flex;
  flex-direction: column;
  gap: 20px;

}
