.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.modal-content {
  background: rgba(199, 199, 199, 1);
  padding: 20px;
  border-radius: 10px;
  width: 33%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
}

.popup {
  background: rgba(199, 199, 199, 1);
  border-radius: 12px;
  padding: 30px 35px;
  width: 420px;
  text-align: center;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  position: relative;

  /* нове */
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.3s ease;
}

.popup.show {
  transform: translateY(0);
  opacity: 1;
}

.reg-title {
  font-family: Lexend;
  font-weight: 700;
  font-style: Bold;
  font-size: 42px;
  letter-spacing: 5px;
  text-align: center;
  color: rgba(68, 90, 107, 1);
  margin: 20px 0px;
  line-height: 95%;
}

.reg-title > b {
  color: rgba(0, 34, 59, 1);
}

.reg-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.reg-form > input {
  width: 24vw;
  height: 6vh;
  opacity: 1;
  border-radius: 12px;
  border: none;
  background: rgba(218, 223, 225, 1);
  padding: 10px;
  font-family: Lexend;
  font-weight: 400;
  font-style: Italic;
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
}

.reg-form > p {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 5px;
}

.reg-form > input::placeholder {
  color: rgb(182, 180, 180);
}

.confirmation-button {
  width: 14vw;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  background: rgba(68, 90, 107, 1);
  border: 3px solid rgba(119, 119, 119, 1);
  font-family: Lexend Giga;
  font-weight: 200;
  font-style: ExtraLight;
  font-size: 28px;
  letter-spacing: 4%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.have-account {
  font-family: Lexend;
  color: rgba(127, 138, 113, 1);
  font-size: 18px;
  margin: 10px 0px;
}

.close-btn {
  display: flex;
  justify-self: end;
  background: none;
  border: none;
  justify-content: end;
  cursor: pointer;
}

.close-btn > img {
  width: 40px;
}

.log-in-btn {
  background: none;
  border: none;
  font-family: Lexend;
  color: rgba(127, 138, 113, 1);
  font-size: 20px;
  cursor: pointer;
  text-decoration: underline;
}

.forgot-password {
  margin-top: 25px;
  font-size: 16px !important;
  font-weight: 100 !important;
  color: rgba(255, 255, 255, 1);
}

.forgot-password > button {
  font-size: 16px !important;
  color: rgba(255, 255, 255, 1);
}
