.page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 140px;

    background: linear-gradient(
            to right,
            #475e65 -30%,
            #1c3b4b 100%
    );

    color: white;
}


.sectionHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 50px auto 20px;
    box-sizing: border-box;
}

.title {
    font-size: 24px;
    font-weight: 400;
    color: #7F8A71;
    letter-spacing: 0.08em;
    font-family: "Lexend", sans-serif;
    white-space: nowrap;
    text-align: center;
}