.header {
    font-family: "Lexend", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 110px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;



    z-index: 100;
    color: #fff;
}

.left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.logoImg {
    display: block;
    height: 60px;
    width: 60px;
}

.logoText {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.logoTop,
.logoBottom {
    font-weight: bold;
    font-size: 43px;
    color: #fff;
}

.searchBox {
    position: relative;
    width: 600px;
}

.searchBox input {
    width: 100%;
    height: 42px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: lightgray;
    color: #111;
    padding: 0 40px 0 16px;
    outline: none;
    font-size: 15px;
    transition: all 0.3s ease;
}

.searchBox input::placeholder {
    color: #777;
}


.searchIcon {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
}

.nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navLink {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 25px;
    transition: color 0.3s ease;
}

.navLink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #7F8A71;
    transition: width 0.3s ease;
    border-radius: 1px;
}

.navLink:hover {
    color: #ffffff;
}

.navLink:hover::after {
    width: 100%;
}

.active {
    font-weight: 900;
}




.icons {
    display: flex;
    gap: 22px;
    align-items: center;
}

.iconLink {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.iconWrapper::after {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #7F8A71;
    transition: width 0.3s ease;
    border-radius: 1px;
}

.iconLink:hover .iconWrapper {
    transform: translateY(-2px);
}

.iconLink:hover .iconWrapper::after {
    width: 100%;
}

