.page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 140px;

    background: linear-gradient(
            to right,
            #475e65 -30%,
            #1c3b4b 100%
    );

    color: white;
}
