.page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 140px;

    background: linear-gradient(
            to right,
            #475e65 -30%,
            #1c3b4b 100%
    );

    color: white;
}

.sectionHeader {
    width: 100%;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 50px auto 20px;
    box-sizing: border-box;
}

.title {
    font-size: 53px;
    font-weight: 400;
    color: #f5f5f5;
    letter-spacing: 0.08em;
    font-family: "Lexend", sans-serif;
    white-space: nowrap;
    text-align: center;
}

.arrow {
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.arrowLeft {
    justify-content: flex-end;
}

.arrowRight {
    justify-content: flex-start;
}

.arrow img {
    object-fit: contain;
}